body {
    background-color: black;
    background-image: url('./img/blackboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Fredericka the Great", serif;
    color: white;
    margin: -10px;
}

h1 {
    font-size: 2.5em;
    text-shadow: black 1px 0 10px;
    margin-top: 40px;
}

small>a {
    text-decoration: none;
    color: white;
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
    margin-top: 50px;
}

.square {
    display: flex;
    flex-wrap: wrap;
    float: left;
    border: 2px groove white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30%;
    text-align: center;
    font-size: 80px;
    margin: 6px;
}

#controls, #message {
    text-align: center;
    margin: 20px 0;
}